*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #f44336;
  --white: #ffffff;
  --grey: #757679;
  --grey-200: #616161;
  --grey-100: #d9d9d9;
  --light: #f1f1f1;
  --black: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--grey-200);
}

/*
HEADER
*/
header.top {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

header.top > .brand {
  display: flex;
  align-items: center;
}

header.top > .brand > .logo > svg {
  fill: var(--red);
  margin: 0 1rem 0 0;
}

header.top > .brand > .title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--red);
}

header.top > .search-bar > svg {
  fill: var(--grey);
}

/*
SECTION TRAVEL THE WORLD
*/

section.travel-the-world {
}

section.travel-the-world > nav {
  height: 40px;
}

section.travel-the-world > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

section.travel-the-world > nav > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--black);
  width: 100%;
  height: 40px;
}

section.travel-the-world > nav > ul > li:first-child {
  /* padding-left: 1rem; */
}

section.travel-the-world > nav > ul > li:last-child {
  padding-right: 1rem;
}

section.travel-the-world > nav > ul > li.active {
  background-color: var(--red);
}

section.travel-the-world > nav > ul > li > svg {
  fill: var(--white);
}

section.travel-the-world > nav > ul > li > span {
  color: var(--white);
  font-weight: 300;
}

section.travel-the-world > .title {
  text-align: center;
  margin: 2rem 0 1.5rem 0;
}

section.travel-the-world > .title > h2 {
  font-weight: 400;
}

section.travel-the-world > .form {
  margin: 0 1rem;
}

section.travel-the-world > .form > form > .form-control > input[type="text"] {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--grey-100);
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
}

section.travel-the-world
  > .form
  > form
  > .form-control
  > input[type="text"]:focus {
  background-color: var(--grey-100);
}

section.travel-the-world > .form > form > .form-control > label {
  font-weight: 300;
}

section.travel-the-world > .form > form > button {
  margin: 1rem 0 1.875rem 0;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  background-color: var(--grey-200);
  color: var(--white);
}

/*
SECTION TRAVEL THE WORLD
*/

section.good-offers-right-now {
  background-color: var(--light);
  padding: 4rem 1rem 0 1rem;
}

section.good-offers-right-now > .title > h2 {
  font-weight: 400;
}

section.good-offers-right-now > .subtitle {
  margin: 1rem 0;
}

section.good-offers-right-now > .images-grid {
  display: grid;
}

section.good-offers-right-now > .images-grid > .box > img {
  width: 100%;
  display: block;
  padding: 0.5rem 0;
}

section.good-offers-right-now > .images-grid > .box {
  position: relative;
}

section.good-offers-right-now > .images-grid > .box > .caption {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: var(--white);
  font-size: 1.2rem;
}
